// ##################################################################
// SHARED
// ##################################################################

$base-background-color: #27272d !default;
$base-font-color: #868686 !default;
$base-font-family: 'aktiv-grotesk', Helvetica Neue, Arial, sans-serif !default;
