.mask {
  display: none;
}

.markdown-section p.tip, .markdown-section tr:nth-child(2n) {
  background-color: #2b2b2b;
}

.markdown-section code, .markdown-section pre {
  background-color: #000000;
}

.markdown-section pre>code {
  color: white;
  background-color: #000000;
}

.sidebar, body {
  background-color: #111116;
}

.sidebar-toggle {
  background-color: #111116;
}
